<div mat-dialog-title>
  <h1>Agregar empleado</h1>
</div>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Input</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Input</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Input</mat-label>
    <input matInput />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary">Agregar</button>
  <button mat-raised-button>Cancelar</button>
</div>
