@model Northwind.To.EF.MVC.Models.EmployeeViewModel

@{
    ViewBag.Title = "Employee page";
}

<h1>Vista insert</h1>

@using (Html.BeginForm("Insert", "Employee", FormMethod.Post))
{
    <label>Nombre: </label> @Html.TextBoxFor(e => e.Nombre)
    <label>Apellido: </label> @Html.TextBoxFor(e => e.Apellido)
    <label>Rol: </label> @Html.TextBoxFor(e => e.Rol)
    <input type="submit" class="btn btn-success" value="Guardar" />

}