@model Northwind.To.EF.MVC.Models.EmployeeView


@{
    ViewBag.Title = "Employee page";
}

<h1>Vista insert</h1>

@using (Html.BeginForm("Insert", "Employee", FormMethod.Post))
{
    <label>Nombre: </label> @Html.TextBoxFor(e => e.FirstName)
    <label>Apellido: </label> @Html.TextBoxFor(e => e.LastName)
    <label>Rol: </label> @Html.TextBoxFor(e => e.Title)
    <input type="submit" class="btn btn-success" value="Guardar" />

}